/**
 * Typography weights using an easy to read naming convention.
 */
$typo-weight-thin: 100;
$typo-weight-light: 300;
$typo-weight-regular: 400;
$typo-weight-medium: 500;
$typo-weight-bold: 700;
$typo-weight-ultra-bold: 900;

/**
 * All typography family fonts.
 */
%typo-family-sans { font-family: 'Roboto', 'Noto', sans-serif }
%typo-family-serif { font-family: 'Roboto Slab', 'Noto Slab', serif }
%typo-family-code { font-family: 'Roboto Mono', 'Consolas', 'Menlo', monospace }

/**
 * Only allow a single line to be taken, it will be shortened using ellipsis.
 */
%typo-single-line {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/**
 * All the different sets of typogaphy rules.
 */
%typo-headline {
	@extend %typo-family-sans;

	font-size: 1.5em;
    font-weight: $typo-weight-regular;
    letter-spacing: -0.012em;
    line-height: 1.3;
}

%typo-title {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 1.25em;
    font-weight: $typo-weight-medium;
    line-height: 1.4;
}

%typo-subhead {
	@extend %typo-family-sans;

	font-size: 1em;
    font-weight: $typo-weight-regular;
    line-height: 1.5;
}

%typo-caption {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 0.75em;
    font-weight: $typo-weight-regular;
    letter-spacing: 0.011em;
    line-height: 1.6;
}

%typo-menu {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 0.75em;
    font-weight: $typo-weight-medium;
    line-height: 2;
}

%typo-button {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 0.875em;
    font-weight: $typo-weight-medium;
    letter-spacing: 0.018em;
    line-height: 1.7;
    text-transform: uppercase;
}

%typo-code,
%typo-code-1 {
	@extend %typo-family-code;

	font-size: 0.875em;
    font-weight: $typo-weight-medium;
    line-height: 1.4;
}

%typo-code-2 {
	@extend %typo-family-code;

	font-size: 0.875em;
    font-weight: $typo-weight-bold;
    line-height: 1.4;
}

%typo-body,
%typo-body-1 {
	@extend %typo-family-sans;

	font-size: 0.875em;
    font-weight: $typo-weight-regular;
    line-height: 1.4;
}

%typo-body-2 {
	@extend %typo-family-sans;

	font-size: 0.875em;
    font-weight: $typo-weight-medium;
    line-height: 1.7;
}

%typo-display,
%typo-display-1 {
	@extend %typo-family-sans;

	font-size: 2.125;
    font-weight: $typo-weight-regular;
    letter-spacing: -0.01em;
    line-height: 1.2;
}

%typo-display-2 {
	@extend %typo-family-sans;

	font-size: 2.125em;
    font-weight: $typo-weight-regular;
    letter-spacing: -0.018em;
    line-height: 1.3;
}

%typo-display-3 {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 3.5em;
    font-weight: $typo-weight-regular;
    letter-spacing: -0.026em;
    line-height: 1;
}

%typo-display-4 {
	@extend %typo-family-sans;
	@extend %typo-single-line;

	font-size: 7em;
    font-weight: $typo-weight-light;
    letter-spacing: -0.044em;
    line-height: 1;
}
